<aside class="sidebar">

  <div class="sidebar-header">
    <img src="assets/images/logo.png" alt="Kitcord">
    <span>Kitcord</span>
  </div>

  <div class="sidebar-section">

    <div class="section-title">
      <h4>Chats</h4>

      <button
        *appHasRole="['update', 'admin']"
        class="create-button"
        type="button"
        (click)="toggleCreateChat()"
      >
      // angular material design
        <mat-icon>add</mat-icon>
      </button>
    </div>

    // if-angular block
    @if (showCreateChat) {
      // custom directive
      <div *appHasRole="['update', 'admin']" class="create-chat-box">

        <input
          type="text"
          placeholder="Chatname"
          [(ngModel)]="chatName"
        >
// form aber KEIN reactive form !
        <select [(ngModel)]="chatType">
          <option value="GROUP">Gruppenchat</option>
          <option value="DIRECT">Direktchat</option>
        </select>

        <input
          type="text"
          placeholder="User-IDs, z.B. 1, 2, 3"
          [(ngModel)]="userIdsInput"
        >

        @if (errorMessage) {
          // data binding
          <p class="error-message">{{ errorMessage }}</p>
        }

        // event binding (click)
        <button
          class="save-chat-button"
          type="button"
          (click)="createChat()"
          [disabled]="loading"
        >
        // property binding (disabled = loading)
          {{ loading ? 'Wird geladen...' : 'Chat erstellen' }}
        </button>

      </div>
    }

    @if (!showCreateChat && errorMessage) {
      <p class="error-message">{{ errorMessage }}</p>
    }

    @for (chat of chats; track chat.id) {
      <button
        class="chat-item"
        [class.active]="selectedChat?.id === chat.id"
        (click)="selectChat(chat)"
      >
        <mat-icon>
          {{ chat.chatType === 'GROUP' ? 'groups' : 'person' }}
        </mat-icon>

        <span>{{ chat.name || 'Unbenannter Chat' }}</span>
      </button>
    }

  </div>

  // Komponentenselektor 
  <app-user-profile></app-user-profile>

</aside>